[Unit]
Description=Lipl Storage Api Endpoint
After=network-online.target
After=local-fs.target

[Container]
Image=docker.io/paulusminus/lipl-storage
PublishPort=3000:3000
Volume=lipl-storage-fs:/lipl
AutoUpdate=registry

[Install]
WantedBy=default.target
